.container {
  display: inline-block;
  box-sizing: border-box;
  width: 35%;
  border: 5px solid #06c1d6;
  padding: 5px;
  opacity: 0.9;
  border-radius: 5em;
}

.label_box {
  border-bottom-right-radius: 0;
  /* box-sizing: content-box; */
  /* border-width: 12px;
    padding: 30px;
    width: 200px; */
}

.btn_borde {
  /* display: inline-block;
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid #007bff;
  border-radius: 3px;
  color: #007bff;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out; */
  padding: 15px 50px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  
  /* box-shadow: 0 9px rgb(10, 178, 164); */
}

.btn_borde:hover,
.btn_borde:active,
.btn_borde:focus {
  color: #fff;
  background-color: #007bff;
}
