.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  gap: 1em;

}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
