.nav{
    display: flex;
    justify-content: space-around;
    max-width: 992px;
    margin: 0 auto;
}

.nav_link {
    color: white;
    text-decoration: none;
    padding: 0 40px;
    overflow: hidden;
    border: 4px solid #215370;
    color: rgba(255, 255, 255, 0.863);
    transform: scale(1);
    opacity: 1;
}